table(border=1)
    thead 
        tr 
            th FullNames 
            th Numberphones 
    tbody         
        tr 
            td Eric Cartman 
            td 001-2020-2020
        tr 
            td Kyle jackson 
            td 002-432312
        tr 
            td Stan 
            td 003-21931-20        
            